table(align="center")
  tr(width="300px")
    td(align="center" valign="middle")
      p You created account in Shoppingify app.
      p To activate it click in the link below.

      a(href=activationPageURL) Activate

      p Link will be valid only for 30 minutes!