table(align="center")
  tr(width="300px")
    td(align="center" valign="middle")
      p You reseted your password.
      p Log in with your generated password and change it.

      p New password: #{newPassword}